<header class="header cf">
    <a ui-sref="page.welcome">
        <img src="img/logo.png" alt="Performance Learning" class="header-logo">
    </a>
    <div class="header-control">
        <div class="header-desktop">
            <span class="header-user">Logged in as <strong>{{ student.user.firstname }} {{ student.user.lastname }}</strong></span>
            <a href="/logout" class="button button-logout">Logout</a>
        </div>
        <div id="toggledropdown" class="header-mobile">
            <i class="header-icon mdi mdi-account-circle"></i>
            <div class="header-control-reveal">
                <span class="header-user">Logged in as <strong>{{ student.user.firstname }} {{ student.user.lastname }}</strong></span>
                <a href="/logout" class="button button-logout-mobile">Logout</a>
            </div>
        </div>
    </div>
</header>