<section id="frame-welcome" class="frame-wrapper frame-red">
    <div class="frame-inner">
        <div class="welcome">
            <header class="welcome-title">
                <h1>Hi {{ student.user.firstname }}, welcome to your Performance Learning assessment!</h1>
            </header>
            <div class="welcome-content">
                <div class="welcome-bubbles"></div>
                <div class="welcome-icons">
                    <a ui-sref="page.section({section_index: 1})" class="button button-start">Start
                        <i class="mdi mdi-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>